* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root{
  --nav-height: 68px; 
}

body {
  background-color: #f9f9f9;
  color: #0A2647;
  line-height: 1.6;
  overflow-x: hidden;
  transition: background 0.6s ease, color 0.6s ease;
}

/* NAVBAR */
.navbar {
  background: #0A2647;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background 0.6s ease, transform 0.3s;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #2C74B3;
}

/* DARK MODE BUTTON */
.dark-btn {
  background: #2C74B3;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.4rem 0.7rem;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s, background 0.3s;
}

.dark-btn:hover {
  background: #205295;
  transform: rotate(20deg);
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: white;
}