.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Efek scroll halus */
html {
  scroll-behavior: smooth;
}
